@page "/fetchdata"
@inject DaprClient Dapr

@using webapp.Model

<h1>Products</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>StockQuantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.StockQuantity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ProductItem[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await Dapr.InvokeMethodAsync<ProductItem[]>("products", "items");        
    }
}
